body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #330be8;
	color: white;
	text-align: center;
	padding: 20px;
}

h1 {
	margin: 0;
}

section {
	margin: 20px;
}

#intro {
	display: flex;
	flex-direction: row;
	align-items: center;
}

img {
	width: 220px;
	margin: 20px;
}

#achievements ul {
	list-style: disc;
	margin-left: 20px;
}

#legacy p {
	text-align: justify;
}

#quote {
	border-top: 1px solid #333;
	padding-top: 20px;
}

footer {
	background-color: #0e0be5;
	color: white;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
